.icon {
  vertical-align: middle;
  display: inline-flex;

  transform: scale(3);
  color: darkblue;
  border: 1px solid darkblue;
  
}





.creditCards img {
  width: 250px;
  align-items: center;
  vertical-align: middle;
}

.creditCards {
  padding: 100px 0;
}

.boxes {
  background-color: darkkhaki;
  border: 1px solid gray;
  text-align: center;
}

.boxes:hover {
  background-color: darksalmon;
}

.boxes2 {
  background-color: aliceblue;
  border: 1px solid gray;
  text-align: center;
}

.boxes2:hover {
  background-color: gold;
  border: 1px solid;

  padding-bottom: 10px;
}

.second img {
    width: fit-content;
}
.card{
  padding: 5px 30px;
  font-size: 23px;
}
.card2{
  padding: 5px 50px;
    font-size: 23px;
}
.icon2 {
  padding-top: 30px;
}

.container {
  padding: 10px 50px;
  background-color:aliceblue;
}

.container2 {
  padding: 10px 50px;
  background-color:rgb(255, 255, 255);
}

.prices {
  vertical-align: middle;
  padding-top: 150px;
}